Define LOG_DIR /var/log/apache2
Define SSLCERT_DIR /etc/ssl/apachessl

<Directory "${HOST_PATH}" >
  Options Indexes FollowSymLinks
  DirectoryIndex index.php index.html
  AllowOverride All
  Allow from all
  Order allow,deny
  Require all granted
</Directory>


<VirtualHost *:80>
  ServerName ${HOST_NAME}
  ServerAdmin webmaster@localhost
  DocumentRoot "${HOST_PATH}"

  ErrorLog ${LOG_DIR}/${HOST_NAME}.error_log
  CustomLog ${LOG_DIR}/${HOST_NAME}.access_log combined

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php${PHP_VERSION}-fpm.sock|fcgi://localhost"
  </FilesMatch>
</VirtualHost>


<IfDefine HAS_SSL>
<VirtualHost *:443>
  ServerName ${HOST_NAME}
  ServerAdmin webmaster@localhost
  DocumentRoot "${HOST_PATH}"

  SSLEngine on
  SSLCertificateFile ${SSLCERT_DIR}/${HOST_NAME}.crt
  SSLCertificateKeyFile ${SSLCERT_DIR}/${HOST_NAME}.key

  ErrorLog ${LOG_DIR}/${HOST_NAME}_ssl.error_log
  CustomLog ${LOG_DIR}/${HOST_NAME}_ssl.access_log combined

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/run/php/php${PHP_VERSION}-fpm.sock|fcgi://localhost"
  </FilesMatch>
</VirtualHost>
</IfDefine>

# undefine all variables after use because all variables are global
Undefine HOST_PATH
Undefine HOST_NAME
Undefine HAS_SSL
Undefine PHP_VERSION
Undefine LOG_DIR
Undefine SSLCERT_DIR
